.footer {
  max-width: 1366px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--COLOR-LIGHT);
}
.footer .strong-text {
  color: var(--COLOR-HIGHLIGHT);
}
.footer i {
  color: var(--COLOR-ERROR);
  font-size: 1.2rem;
}
.footer-links {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-links i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--COLOR-LIGHT);
}
.footer-links i:hover {
  color: var(--COLOR-HIGHLIGHT);
  transform: scale(1.1);
  transition: 0.2s;
}
